# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# SQLite database
*.sqlite3
db.sqlite3

# Logs
*.log

# Python virtual environment
venv/
ENV/
env/

# Environment variables
.env

# Django static and media
/staticfiles/
/media/

# VS Code settings
.vscode/

# macOS / Windows system files
.DS_Store
Thumbs.db

# Migrations (optional - if you regenerate them often)
# ** Only add this if you're sure your team regenerates migrations
# */migrations/__pycache__/
# */migrations/*.pyc
# */migrations/*.pyo
# */migrations/*.py~
