.review-products img,
.rated-products img,
.latest-products img {
    width: 110px !important;
    height: 110px !important;
    object-fit: cover;
}

.featured__item__pic__hover li:hover a.favorited {
	background: yellow !important;
	border-color: yellow !important;
}

.featured__item__pic__hover a.favorited i {
	color: red !important;
}

.featured__item__pic__hover li:hover a.carted {
	background: yellow !important;
	border-color: yellow !important;
}

.featured__item__pic__hover a.carted i {
	color: red !important;
}