{% extends 'auth_base.html' %}
{% load static %}

{% block title %}Welcome to My Awesome Site!{% endblock %}

{% block content %}

    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Profile Update</h2>
                    </div>
                </div>
            </div>
            <form action="{% url 'user_profile_update' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>General Information</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="First name" id="first_name" name="first_name">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="Last name" id="last_name" name="last_name">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="User Name" id="user_name" name="user_name">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="Email" id="email" name="email" readonly>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="tel" placeholder="Phone Number" id="phone_number" name="phone_number">
                    </div>
                </div>
                <h3>Location</h3>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="Address" id="address" name="address">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="Country" id="country" name="country">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="State" id="state" name="state">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="City" id="city" name="city">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="Zipcode" id="zipcode" name="zipcode">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="file" placeholder="Profile Pic" id="profile_pic" name="profile_pic">
                    </div>
                    <div class="col-lg-12 text-center">
                        <button type="submit" class="site-btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Contact Form End -->

{% endblock %}