{% load static %}
<!-- Header Section Begin -->
 <header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> {{ request.user.email }}</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="{% static 'img/language.png' %}" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Spanis</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <!-- {% if request.user.is_authenticated %}
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'img/featured/feature-8.jpg' %}" alt="Profile" style="width:80px; height:80px; border-radius:50%;">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'home' %}">Product Management</a>
                                <a class="dropdown-item" href="{% url 'home' %}">Profile Settings</a>
                                <form action="{% url 'logout' %}" method="POST" class="dropdown-item ml-2 p-0">
                                    {% csrf_token %}
                                    <button type="submit" style="border:none; background:none; padding:8px 16px; width:100%; text-align:left;">Logout</button>
                                </form>
                            </div>
                        </div>
                        {% else %}
                        <div class="header__top__right__auth mr-2">
                            <a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="{% url 'register' %}"><i class="fa fa-user"></i> Register</a>
                        </div>
                        {% endif %} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'shop_grid' %}">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-2">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> 
                            <!-- <span>1</span> -->
                            {% if favorite_count > 0 %}
                                <span class="favorite-count">{{ favorite_count }}</span>
                            {% endif %}
                        </a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                    <!-- <div class="header__cart__price">item: <span>$150.00</span></div> -->
                </div>
            </div>
            <div class="col-lg-1">
                {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       {% if request.user.profile.profile_pic %}
                        <img src="{{ request.user.profile.profile_pic.url }}" alt="Profile" style="width:60px; height:60px; border-radius:50%;">
                        {% else %}
                        <img src="{% static 'img/featured/feature-8.jpg' %}" alt="Profile" style="width:80px; height:80px; border-radius:50%;">
                        {% endif %}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'user_products' %}">Product Management</a>
                        <a class="dropdown-item" href="{% url 'user_profile_update' %}">Profile Settings</a>
                        <form action="{% url 'logout' %}" method="POST" class="dropdown-item ml-2 p-0">
                            {% csrf_token %}
                            <button type="submit" style="border:none; background:none; padding:8px 16px; width:100%; text-align:left;">Logout</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="header__top__right__auth mr-2">
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                    /
                    <div class="header__top__right__auth">
                        <a href="{% url 'register' %}">Register</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->